page-login {

  text-align: center;


}

h3 {
  text-align: center;
}

ion-navbar {

  text-align: left;

}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;

}

#voltar {
  padding: 1em;
}
